
name: kazikazan
description: Scratch card game
publish_to: none
version: 1.0.0+1
environment:
  sdk: ">=3.3.0 <4.0.0"
dependencies:
  flutter:
    sdk: flutter
  scratcher: ^2.1.0
  audioplayers: ^5.2.1
flutter:
  uses-material-design: true
  assets:
    - assets/images/kazikazan_icon.png
    - assets/audio/casino_loop.wav
